.example-spacer {
    flex: 1 1 auto;
  }
 .navBar{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
 } 
 .nav{
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
 }